
/*  * * * * * * * * * * *
        Variables
* * * * * * * * * * * */
:root {

  /* currently used colors */
  --color-bg-base: #373E4D;
  --color-primary: #88C0D0;
  --color-complement: #D08770;
  --color-highlight: white;


  /* others - keep becuase they're nice */
  --color-name: nord;
  --color-bg-shade: #252A33;
  --color-bg-surface: #373E4D;
  --color-bg-highlight: #40495A;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #2C4948;
  --color-primary-base: #579190;
  --color-primary-fg: #9AC2C2;
  --color-secondary-bg: #25394C;
  --color-secondary-base: #4A7197;
  --color-secondary-fg: #8BA9C6;
  --color-palette-red: #BF616A;
  --color-palette-green: #A3BE8C;
  --color-palette-yellow: #EBCB8B;
  --color-palette-blue: #5E81AC;
  --color-palette-purple: #B48EAD;
  --color-palette-cyan: #88C0D0;
  --color-palette-orange: #D08770;
  --color-palette-black: #000000;

  /** general */
  --font-family: Quicksand;
}





/*  * * * * * * * * * * *
    General formatting
* * * * * * * * * * * */

html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-base);  
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: var(--font-family), sans-serif;
}


#backgroundwrapper {
  background-size: 20px 20px;
  height: 100%;
}

#mainContent {
  height: 100%;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}






/*  * * * * * * * * * * *
    Text formatting
* * * * * * * * * * * */
h1 {
  margin-bottom: 4px;
  color: var(--color-text-light);
}

h3 {
  margin: 0;
  color: var(--color-text-light);
}

hr {
  width: 70%;
  margin: 0;
  color: var(--color-text-light);
}

a {
  text-decoration: none;
}






/*  * * * * * * * * * * *
      Search Section
* * * * * * * * * * * */
/* general */
#searchSection {
  display: flex;
  flex-direction: column;
}

#searchOptionWrapper {
  margin: auto;
  margin-top: 20px;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* engine buttons */
#searchOptionWrapper > button {
  padding: 10px 20px 10px 20px;
 
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  
  border: 3px solid var(--color-complement);
  border-bottom: solid 8px var(--color-complement);
  background:rgba(0, 0, 0, 0);
  color: var(--color-highlight);
  transition: 0.15s;
  transition-timing-function: ease-in;
}

#searchOptionWrapper > button:hover {
  cursor: pointer;
}

#searchOptionWrapper > button#highlightedButton {
  background: var(--color-primary);
  border-bottom: solid 4px var(--color-complement);
  transition: 0.15s;
  transition-timing-function: cubic-bezier(.17,1.76,.23,.92);
}

/* search input */
#searchForm {
  margin-top: 20px;
  padding: 10px;

  border: solid 3px var(--color-complement);
  border-bottom: solid 6px var(--color-complement);
  border-radius: 50px;
}

#searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchForm > input {
  width: 80%;
  padding: 10px;  
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-text-light);
  font-size: 25px;
}

#searchForm > input:focus {
  outline: none;
}

/* search button */
#searchButton {
  color: var(--color-highlight);
}

#searchButton:hover {
  text-shadow: 2px -3px var(--color-primary), -4px 1.5px var(--color-complement);
}





/*  * * * * * * * * * * *
    Bookmark Section
* * * * * * * * * * * */
/* general */
#bookmarkSection {
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#bookmarkDivider {
  width: 22%;
  height: 90%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  transition: width 0.5s, padding 0.5s;

  background: transparent;
  border: solid 4px var(--color-complement);
  border-radius: 10px;
  box-shadow: var(--color-complement) 4px 4px;
  margin-left: 20px;
}

#bookmarkDivider:hover {
  padding-left: 10px;
  width: 80%;
}

/* bookmarks */
.bookmarkContainer {
  padding-top: 10px;
}

.bookmarkLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-highlight);
}

.bookmarkIcon {
  font-size: 1.5rem;
  color: inherit;
  transition: 0.2s;
}

.bookmarkLink:hover .bookmarkIcon, .bookmarkLink:hover .bookmarkLabel {
  color: transparent;
  -webkit-text-stroke: var(--color-highlight) 1px;
  text-shadow: 2px -3px var(--color-complement), -4px 1.5px var(--color-primary);
}


.bookmarkLabel {
  padding-left: 10px;
  width: 125px;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  left: 60px;
  color: inherit;
  pointer-events: none;
}
#bookmarkDivider:hover .bookmarkLabel {
  opacity: 1;
  pointer-events: all;
}






/*  * * * * * * * * * * *
      Date and Time
* * * * * * * * * * * */
#headerSection {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.headerText {
  position: relative;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px var(--color-highlight);
  text-shadow: 4px -6px var(--color-primary), -8px 3px var(--color-complement);
}

#timeHour {
  font-size: 140px;
  top: 40px;
  left: -80px;
}
#timeMinute {
  font-size: 160px;
  top: -20px;
}
#timeSecond {
  font-size: 60px;
  left: -40px;
  top: -45px;
  animation-name: textShadowAnim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#dateDay {
  font-size: 140px;
  left: -20px;
}
#dateMonth {
  font-size: 60px;
  left: -60px;
  top: -20px;
}
#dateDate {
  font-size: 160px;
  left: 60px;
  top: -50px;
}





/*  * * * * * * * * * * *
      Animations
* * * * * * * * * * * */

@keyframes textShadowAnim {
  0%      { text-shadow: 4px  -6px var(--color-primary),  -8px 3px var(--color-complement); }
  25%     { text-shadow: -4px -6px var(--color-primary),  8px 3px var(--color-complement); }
  50%     { text-shadow: -4px 6px var(--color-complement),   8px -3px var(--color-primary); }
  75%     { text-shadow: 4px  6px var(--color-complement),   -8px -3px var(--color-primary); }
  100%    { text-shadow: 4px  -6px var(--color-primary),  -8px 3px var(--color-complement); }
}






/*  * * * * * * * * * * *
        Others
* * * * * * * * * * * */

#emptySpace {
  flex-grow: 1;
}

